@media (min-width: 960px) {
  .mainContent {
    padding-left: 1em;
    padding-right: 3em;
  }
}

/* LH Panel List of Titles */
md-list-item, md-list-item .md-list-item-inner {
  min-height: 30px;
  height: 38px;
}

/* Note seudoMarkdown */
.headerM {
  margin-bottom: 0.2em;
  font-weight: bold;
  font-size: 1.2em;
}
.headerM:first-of-type {
  margin-top: 0.1em;
}
.dateBlock {
  font-size: 0.8em;
  padding-bottom: 0em;
  margin-bottom: 0.3em;
}
.phoneNumber {
  font-size: 0.9em;
  text-decoration: none;
}
.links {
  text-decoration: none;
}
a:visited, a:link, a:hover {
    color: rgb(76, 175, 80);
}
a:active {
  color: rgb(0, 125, 0);
}
/* Search Autocomplete */
.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0px;
}
.autocomplete-custom-template .item-title {
  font-weight: bold;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-content {
  display: block;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Refinements */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
