<md-toolbar layout='row'>
  <h3 class="md-toolbar-tools">
    Welcome to Green Notes
  </h3>
</md-toolbar>
<md-card>

<md-card-content>
  <h2>Failed User Login</h2>
  <p>Most likely there is no internet connection</p>
</md-card-content>
    <md-card-actions layout='row' 
                     layout-align='center center'
                     style='padding:3em 0 2em 0'>
    <md-button class='md-primary'
               ng-click='reload()'>
      Reload Page
    </md-button>
  </md-card-actions>
</md-card>  