<div id='mainNotePage'>
  <md-card id='titleCard' flex>
    <form name='titleForm'>
      <div layout='row' layout-align='center center'>

        <div hide-gt-md flex='15'>
          <md-button ng-click='open()' 
                     class='md-icon-button md-primary'>
            <md-icon class='material-icons'>
              menu
            </md-icon>
          </md-button>
        </div>
        <div flex flex-offset-gt-md='5'>
          <input style="border-width:0px; min-height:3em; color:{{titleColor}}" 
                 placeholder="Title of Note"
                 id='noteTitle'
                 ng-model='n.selectedNote.title'
                 ng-blur='blurNote("title")'
                 ng-disabled='n.userPrefs.noNote'
                 ng-init='titleColor="darkgray"'
                 ng-focus='titleColor="black"'
                 ng-blur='titleColor="darkgray"'>
        </div>

        <div flex='25'>
          <md-button ng-click='newNote()' 
                     ng-disabled='n.userPrefs.showTrash'
                     id='newNoteButton'
                     class='md-primary md-raised md-icon-button'>
            <md-icon>
              note_add
            </md-icon>
          </md-button>
        </div>
      </div>
    </form>
  </md-card>

<!--      NOTE BUTTONS EDIT / FAV / DELETE    -->
  <div flex layout='row' layout-align='center center'>
<!-- Did not merge edit-done button because I had oddites happen with timeout in js-->
    <div flex='35' ng-show='!editMode'>
      <md-button class='md-icon-button md-raised md-primary'
                 ng-click='editNote()'
                 ng-disabled='n.userPrefs.noNote || n.userPrefs.showTrash'>
        <md-icon>
          edit
        </md-icon>
      </md-button>
    </div>  
    <div flex='35' ng-show='editMode'>
      <md-button class='md-icon-button md-raised md-primary'
                 ng-click='blurNote()'
                 ng-disabled='n.userPrefs.noNote || n.userPrefs.showTrash'>
        <md-icon>
          done
        </md-icon>
      </md-button>
    </div>  
    
<!--
    <div flex='35'>
      <md-button class='md-icon-button md-raised md-primary'
                 ng-click='editMode ? blurNote() : editNote()'
                 ng-disabled='n.userPrefs.noNote || n.userPrefs.showTrash'>
        <md-icon>
          {{editMode ? 'done' : 'edit' }}
        </md-icon>
      </md-button>
    </div>  
-->
    <div flex='20' 
         style="text-align:center;" 
         ng-hide='n.userPrefs.showTrash'>
      <md-button class='md-icon-button md-primary'
                 ng-href='/search'
                 ng-disabled='n.userPrefs.noNote'>
        <md-icon class='material-icons'>
          search
        </md-icon>
      </md-button>
    </div>
    <div flex='20' style="text-align:center;">
      <md-button class='md-icon-button md-primary'
                 ng-click='starNote()'
                 ng-disabled='n.userPrefs.noNote || n.userPrefs.showTrash'>
        <md-icon>
          {{n.selectedNote.fav ? 'star' : 'star_border'}}
        </md-icon>
      </md-button>
    </div>
    <div flex='20' 
         style="text-align:center;">
      <md-button class='md-icon-button md-primary'
                 ng-click='n.userPrefs.showTrash ? restoreNote() : removeNote()'
                 ng-disabled='n.userPrefs.noNote'>
        <md-icon>
          {{n.userPrefs.showTrash ? 'restore' : 'delete'}}
        </md-icon>
      </md-button>
    </div>
  </div>

        
<!--      DISPLAY / EDIT SELECTED NOTE CONTENT    -->
  <md-card flex ng-hide='editMode'>
    <md-card-content>
       <p ng-bind-html='n.selectedNote.content | markdown'></p> 
    </md-card-content>
  </md-card>

<!--      TEXT AREA FOR EDITING NOTE    -->
  <div flex layout='column' ng-show='editMode'>
    <md-input-container flex style='margin:0 10px;'>
      <textarea ng-model='n.selectedNote.content'
                id='noteArea'
                name='notearea'
                ng-change='noteChg()'
                ng-blur='blurNote()'
                md-detect-hidden='true'
                ng-disabled='n.userPrefs.noNote'
                aria-label='note content'>
      </textarea>
    </md-input-container>
  </div>
</div>