<!DOCTYPE html>
<html lang="en" ng-app='green-note'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
    
    
    <!--  Web Application Manifest  -->
    <link rel='manifest' href="manifest.json">
    
    <title>Green Notes</title>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria.min.js"></script>
    <script src="js/lib/angular-material.min.js"></script>  
    <script src="js/lib/angular-messages.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
     
    <script src="js/main.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="css/lib/angular-material.min.css">
    <link rel="stylesheet" href="css/green-notes.css">
    <link rel='icon' href="favicon.ico">

    <script type="text/javascript">
      var h = document.getElementsByTagName('head'),
          elem = '<base href="' + window.location.pathname + '" />';
      angular.element(h).append(angular.element(elem));
    </script>

  </head>
  <body>
<!--Do not understand need for column, came from demo, leaving for now-->
    <div ng-controller='mainCtrl' layout='column' ng-cloak
         ng-init="login_url=''; logout_url='';">
      <section layout='row' flex>
        <md-sidenav class='md-sidenav-left'
                      md-component-id='left'
                      md-is-locked-open="$mdMedia('gt-md')"
                      md-whiteframe='4'>
          <div ng-controller='leftCtrl' layout='column'>
            <!--   SIDENAV HEADER    -->
            <md-toolbar layout='row'>
              <h3 class="md-toolbar-tools" flex='80'>
                Green Notes
              </h3>
              <div flex='20' ng-init='syncing=false;'>
                
                <md-button class='md-icon-button' 
                           ng-click="sync()" 
                           ng-disabled='syncing'
                           style='height:64px;'>
                  <md-progress-circular ng-disabled="!syncing" 
                                        ng-show='syncing'
                                        class="md-hue-3" 
                                        md-diameter="24px">
                  </md-progress-circular>
                  <md-icon ng-hide='syncing'>
                    sync
                  </md-icon>
                </md-button>
              </div>
              <div flex='20' hide-gt-md>
                <md-button class='md-icon-button' ng-click="close()" style='height:64px;'>
                  <md-icon>
                    close
                  </md-icon>
                </md-button>
              </div>
            </md-toolbar>
            
            <!--        SIDENAV CONTENT    -->
            <md-content layout-padding style='padding-top:0;' 
                        ng-show='userLoggedIn'>
              <div layout='row' 
                   flex 
                   layout-align='center center'
                   style='padding-bottom:0;'>
                <div flex id='showFavsButton'>
                  <md-button class='md-primary'
                             style='text-align:center;'
                             ng-class="{'md-raised': left.userPrefs.showFavs}"
                             ng-click='setFavsFilter()'>
                    Favs
                  </md-button>
                </div>
                
                <div flex>
                  <md-button ng-click='toggleTrash()'
                             class='md-icon-button'>
                    <md-icon class='material-icons'>
                      {{left.userPrefs.showTrash ? 'archive' : 'unarchive'}}
                    </md-icon>
                  </md-button>
                </div>
                <md-input-container flex>
                  <label>Sort</label>
                  <md-select ng-model='left.userPrefs.sortBy' 
                              ng-model-options="{trackBy: '$value.value'}"
                              aria-label="sortOptions">
                    <md-option ng-value  = 'sortBy'
                        ng-repeat = 'sortBy in sortOptions'
                        ng-click  = 'nSort(sortBy)'>
                      {{sortBy.display}} 
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div ng-show='left.userPrefs.showTrash'>
                <p>Items in Trash</p>
              </div>
              <p ng-show='!left.allNotes.length && !left.userPrefs.showTrash'>
                Create a new Note!
              </p>
              <md-list flex style='padding-top:0;'>
                 <md-list-item ng-repeat='note in left.displayNotes | 
                                          orderBy:left.userPrefs.sortBy.value:reverseNotes track by note.id'
                              ng-click='selectNote(note)'
                              class='secondary-button-padding'>
                  {{note.title}}
                </md-list-item>
              </md-list>              
            </md-content>
            <div layout="row">
              <div flex layout="row" layout-align="center">
                <md-button class='md-primary' ng-click='reload()'>
                  Reload App
                </md-button>
              </div>  <!-- Reload -->

              <div flex='20' layout="row" layout-align="center">
                <md-button class='md-icon-button' 
                           ng-click='goToRestore()'>
                  <md-icon>
                    restore
                  </md-icon>          
                </md-button>
              </div>  <!-- Restore -->

              <div flex='20' layout="row" layout-align="center">
                <md-button ng-click='logout($event)' class='md-icon-button'>
                  <md-icon>
                    exit_to_app
                  </md-icon>
                </md-button>
              </div>  <!-- Logout App -->
            </div>
            <button ng-click='logData()'>logD</button> <!--Testing-->            
          </div>
        </md-sidenav>

<!--    NOTE TITLE / MAIN HEADER / LOGIN    -->
<!--    No idea why 'layout='column' does not work in 'md-content'   -->
        <md-content class='mainContent' flex>
          <div style='padding:1.5em 0 0 1em;'>
            <div id='newInput' style='min-height:5em; background-color:beige'>
              <span id='newInputText' ng-bind-html='newContent'>
              </span>
              <span id='testCharWidth' style='color:rgba(0,0,0,0.5); position:absolute; top:0;'>
                {{newChar}}
              </span>
            </div>
            <div flex>
              <md-button class='md-icon-button' flex='5'>
                <md-icon>
                    format_bold
                </md-icon>      
              </md-button>    
              <md-button class='md-icon-button' flex='5'>
                <md-icon>
                    format_italic
                </md-icon>      
              </md-button>    
              <md-button class='md-icon-button' flex='5'>
                <md-icon>
                    format_underline
                </md-icon>      
              </md-button>    
              <md-button class='md-icon-button' flex='5'>
                <md-icon>
                  format_strikethrough
                </md-icon>      
              </md-button>    
            
            </div>
            <div contenteditable='true' ng-bind-html='divContent' id='divEdit'>
              <!-- {{divContent}} -->
            </div>
          </div>
          <p>newEdit: {{newEdit}}</p>
          <md-button ng-click='editOn()'>Start</md-button>
          <md-button ng-click='editOff()'>Done</md-button>
          <md-button ng-click='getLocation()'>Location</md-button>
          <div layout="row" layout-sm="column" layout-align="space-around"
               ng-hide='loaded.page' flex>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>

          <div ng-view ng-show='loaded.page'></div>

<!--      APP VERSION    -->
          <p style="color:darkgray; font-size:0.8em; padding-left:0.3em;">
            Version: 0.1.43
          </p>

          <h4 ng-click='toggleShowTips()' style="padding: 0.5em 0 0 1.5em;" id='tips'>
              <span style='padding-right:1.5em;'>Tips</span>
              <md-button class='md-icon-button'>
                  <md-icon>
                      {{ showTips ? 'expand_less' : 'expand_more' }} 
                    </md-icon>      
              </md-button>    
          </h4>          

          <div ng-show='showTips'>
            <md-toolbar layout="row" class="md-hue-1">
              <div class="md-toolbar-tools">
                <span>Pseudo Markdown rules</span>
              </div>
            </md-toolbar>
            <ul>
              <li>'<code>.h1 </code>' at beginning of line - Header</li>
              <li>'<code>- </code>' at beginning of line &bull; unordered list</li>
              <li>'<code>---</code>' entire line - hr</li>
              <li><code>__text__</code> or <code>**text**</code> - Bold</li>
              <li><code>--text--</code> - Grayed out text for minor notes</li>
              <li><code>`code`</code> (backtick) - for inline code, no block code available currently</li>
              <li><code>~~text~~</code> (tilde) - for strikethru text</li>
              <li>Reasonable phone number formats</li>
              <li>Links in (anchor text)[url] format</li>
            </ul>

            <!-- <p> Keyboard Shortcuts </p> -->
            <md-toolbar layout="row" class="md-hue-1">
              <div class="md-toolbar-tools">
                <span>Keyboard Shortcuts</span>
              </div>
            </md-toolbar>
            <ul>
              <li>'<code>e</code>' - Edit note [temp test]</li>
              <li>'<code>n</code>' - Create new note</li>
              <li>'<code>s</code>' - Search / Switch Note</li>
              <li>'<code>Esc</code>' - Done editing note</li>
            </ul>

            <!-- <p> Verbal Shortcuts </p> -->
            <md-toolbar layout="row" class="md-hue-1">
              <div class="md-toolbar-tools">
                <span>Verbal Shortcuts</span>
              </div>
            </md-toolbar>
            <ul>
              <li>'<code>Add</code>' - When in grocery list, adds another item to the list</li>
            </ul>
          </div>
        
          <!--***  DEBUG CODE  ***-->
          <!-- <hr>
           <ul> 
            <li>Selected Title: {{n.selectedNote.title}}</li>
            <li>Selected Content: {{n.selectedNote.content}}</li>
            <li>Edit Mode: {{editMode}}</li>
            <li>Hi leftCtrl Retries Left: {{n.retries}}</li>
            <li>Milliseconds between client and server: {{n.timeDifference}}</li>
            <li>loaded.data: {{loaded.data}}</li>
            <li>loaded.page: {{loaded.page}}</li>
            <li>userLoggedIn: {{userLoggedIn}}</li>
            <li>lengthDisplayNotes: {{n.displayNotes.length}}</li>
            <li ng-repeat='note in n.allNotes'>title: {{note.title}}</li>
          </ul> -->
          
        </md-content>
      </section>
    </div>
  </body>
  <script>
    /* ServiceWorker requires https or localhost, not file://... */
    navigator.serviceWorker.register('/sw.js');
  </script>
</html>